doctype html
html
  head
    link(rel="stylesheet", href="../css/semantic.min.css")
    script(src="../js/jquery.min.js")
    script(src="../js/semantic.min.js")
  body
    form.ui.form
      .ui.segments
        .ui.segment.attached
          .ui.toggle.checkbox
            input(type="checkbox" tabindex="0" name="enable" "{{ .Enable }}")
            label Autocheck
        .ui.segment.attached
          .ui.toggle.checkbox
            input(type="checkbox" name="md5" "{{ .Md5 }}")
            label MD5
        .ui.segment.attached
          .ui.toggle.checkbox
            input(type="checkbox" name="sha1" "{{ .Sha1 }}")
            label SHA-1
        .ui.segment.attached
          .ui.toggle.checkbox
            input(type="checkbox" name="sha256" "{{ .Sha256 }}")
            label SHA-256
        .ui.two.buttons.attached(style="position:fixed;bottom:0;left:0;right:0;")
          button.ui.green.button(type="submit" formmethod="post" name="save") Save
          button.ui.blue.button(type="submit" formmethod="post" name="run" formaction="../result/") Run
    style
      | button{
      |   height: 38px;
      | }
